<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
            <NavLink class="nav-link" href="fornecedor">
                <p>
                    <span class="nav-icon fas fa-th"></span>Fornecedor
                </p>
            </NavLink>
        </li>

        <li class="nav-item">
            <NavLink class="nav-link" href="produto">
                <p>
                    <span class="nav-icon fas fa-th"></span>Produto
                </p>
            </NavLink>
        </li>

        <li class="nav-item">
            <NavLink class="nav-link" href="categoria">
                <p>
                    <span class="nav-icon fas fa-th"></span>Categoria
                </p>
            </NavLink>
        </li>

        <li class="nav-item">
            <NavLink class="nav-link" href="cliente">
                <p>
                    <span class="nav-icon fas fa-th"></span>Cliente
                    <span class="right badge badge-danger">New</span>
                </p>
            </NavLink>
        </li>

    </ul>
</nav>

@code {
}